/******************************************************************

Stylesheet: TinyMCE Editor

// This stylesheet is loaded automatically by Wordpress when compiled and placed in the root theme directory folder as editor-style.css
// For more info, check out the codex: http://codex.wordpress.org/Editor_Style

******************************************************************/
body#tinymce.wp-editor {
  /* ==========================================================================
	Normalize v8.0.0 | MIT License
	========================================================================== */
  /*	Fonts
/*--------------------------------------*/
  /* ==========================================================================
	Typography
	========================================================================== */
  /*	Headers
/*--------------------------------------*/
  /* Custom Headers */
  /*	Text Elements
/*--------------------------------------*/
  /*pre {
	white-space: pre-wrap;
	background-color: $bg-light-color;
	border: 1px solid $border-color;
	padding: 1em;
}*/
  /*	Links
/*--------------------------------------*/
  /*	Accessibility
/*--------------------------------------*/
  width: auto;
  font-family: Proxima, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-font-smoothing: antialiased;
  padding: 0 15px;
  /* Additional Styles */
  /*********************
	LARGER MOBILE DEVICES
	This is for devices like the Galaxy Note or something that's
	larger than an iPhone but smaller than a tablet. Let's call them
	tweeners.
	*********************/ }
  body#tinymce.wp-editor html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%; }
  body#tinymce.wp-editor body {
    margin: 0; }
  body#tinymce.wp-editor h1 {
    font-size: 2em;
    margin: 0.67em 0; }
  body#tinymce.wp-editor hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible; }
  body#tinymce.wp-editor pre {
    font-family: monospace, monospace;
    font-size: 1em; }
  body#tinymce.wp-editor a {
    background-color: transparent; }
  body#tinymce.wp-editor abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted; }
  body#tinymce.wp-editor b, body#tinymce.wp-editor strong {
    font-weight: bolder; }
  body#tinymce.wp-editor code, body#tinymce.wp-editor kbd, body#tinymce.wp-editor samp {
    font-family: monospace, monospace;
    font-size: 1em; }
  body#tinymce.wp-editor small {
    font-size: 80%; }
  body#tinymce.wp-editor sub, body#tinymce.wp-editor sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  body#tinymce.wp-editor sub {
    bottom: -0.25em; }
  body#tinymce.wp-editor sup {
    top: -0.5em; }
  body#tinymce.wp-editor img {
    border-style: none; }
  body#tinymce.wp-editor button, body#tinymce.wp-editor input, body#tinymce.wp-editor optgroup, body#tinymce.wp-editor select, body#tinymce.wp-editor textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0; }
  body#tinymce.wp-editor button, body#tinymce.wp-editor input {
    overflow: visible; }
  body#tinymce.wp-editor button, body#tinymce.wp-editor select {
    text-transform: none; }
  body#tinymce.wp-editor button, body#tinymce.wp-editor [type="button"], body#tinymce.wp-editor [type="reset"], body#tinymce.wp-editor [type="submit"] {
    -webkit-appearance: button; }
  body#tinymce.wp-editor button::-moz-focus-inner, body#tinymce.wp-editor [type="button"]::-moz-focus-inner, body#tinymce.wp-editor [type="reset"]::-moz-focus-inner, body#tinymce.wp-editor [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  body#tinymce.wp-editor button:-moz-focusring, body#tinymce.wp-editor [type="button"]:-moz-focusring, body#tinymce.wp-editor [type="reset"]:-moz-focusring, body#tinymce.wp-editor [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }
  body#tinymce.wp-editor fieldset {
    padding: 0.35em 0.75em 0.625em; }
  body#tinymce.wp-editor legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal; }
  body#tinymce.wp-editor progress {
    vertical-align: baseline; }
  body#tinymce.wp-editor textarea {
    overflow: auto; }
  body#tinymce.wp-editor [type="checkbox"], body#tinymce.wp-editor [type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  body#tinymce.wp-editor [type="number"]::-webkit-inner-spin-button, body#tinymce.wp-editor [type="number"]::-webkit-outer-spin-button {
    height: auto; }
  body#tinymce.wp-editor [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px; }
  body#tinymce.wp-editor [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  body#tinymce.wp-editor ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit; }
  body#tinymce.wp-editor details {
    display: block; }
  body#tinymce.wp-editor summary {
    display: list-item; }
  body#tinymce.wp-editor template {
    display: none; }
  body#tinymce.wp-editor [hidden] {
    display: none; }
  body#tinymce.wp-editor .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  body#tinymce.wp-editor article p a[href*="//"]:not([href*="ucla"]), body#tinymce.wp-editor article h1 a[href*="//"]:not([href*="ucla"]), body#tinymce.wp-editor article h2 a[href*="//"]:not([href*="ucla"]), body#tinymce.wp-editor article h3 a[href*="//"]:not([href*="ucla"]), body#tinymce.wp-editor article h4 a[href*="//"]:not([href*="ucla"]), body#tinymce.wp-editor article h5 a[href*="//"]:not([href*="ucla"]), body#tinymce.wp-editor article h6 a[href*="//"]:not([href*="ucla"]) {
    margin-right: 3px;
    display: inline-block; }
    body#tinymce.wp-editor article p a:not([href*="ucla"])[href*="//"]:after, body#tinymce.wp-editor article h1 a:not([href*="ucla"])[href*="//"]:after, body#tinymce.wp-editor article h2 a:not([href*="ucla"])[href*="//"]:after, body#tinymce.wp-editor article h3 a:not([href*="ucla"])[href*="//"]:after, body#tinymce.wp-editor article h4 a:not([href*="ucla"])[href*="//"]:after, body#tinymce.wp-editor article h5 a:not([href*="ucla"])[href*="//"]:after, body#tinymce.wp-editor article h6 a:not([href*="ucla"])[href*="//"]:after {
      font-family: "Font Awesome 5 Free";
      content: " \f35d";
      font-size: .6em;
      display: inline-block;
      margin-left: 5px; }
  body#tinymce.wp-editor article p a.hide-external[href*="//"]:not([href*="ucla"]), body#tinymce.wp-editor article h1 a.hide-external[href*="//"]:not([href*="ucla"]), body#tinymce.wp-editor article h2 a.hide-external[href*="//"]:not([href*="ucla"]), body#tinymce.wp-editor article h3 a.hide-external[href*="//"]:not([href*="ucla"]), body#tinymce.wp-editor article h4 a.hide-external[href*="//"]:not([href*="ucla"]), body#tinymce.wp-editor article h5 a.hide-external[href*="//"]:not([href*="ucla"]), body#tinymce.wp-editor article h6 a.hide-external[href*="//"]:not([href*="ucla"]) {
    background-image: none;
    padding-right: 0;
    margin-right: 0; }

@font-face {
  body#tinymce.wp-editor {
    font-family: Proxima;
    src: url("../fonts/proximanova-regular-webfont.eot");
    src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
    font-weight: normal;
    font-style: normal; } }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      body#tinymce.wp-editor {
        font-family: Proxima;
        src: url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg"); } } }

@font-face {
  body#tinymce.wp-editor {
    font-family: Proxima;
    src: url("../fonts/proximanova-regit-webfont.eot");
    src: url("../fonts/proximanova-regit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regit-webfont.woff") format("woff"), url("../fonts/proximanova-regit-webfont.ttf") format("truetype"), url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
    font-weight: normal;
    font-style: italic; } }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      body#tinymce.wp-editor {
        font-family: Proxima;
        src: url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg"); } } }

@font-face {
  body#tinymce.wp-editor {
    font-family: Proxima;
    src: url("../fonts/proximanova-thin-webfont.eot");
    src: url("../fonts/proximanova-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-thin-webfont.woff") format("woff"), url("../fonts/proximanova-thin-webfont.ttf") format("truetype"), url("../fonts/proximanova-thin-webfont.svg#Proxima") format("svg");
    font-weight: 100;
    font-style: normal; } }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      body#tinymce.wp-editor {
        font-family: Proxima;
        src: url("../fonts/proximanova-thin-webfont.svg#Proxima") format("svg"); } } }

@font-face {
  body#tinymce.wp-editor {
    font-family: Proxima;
    src: url("../fonts/proximanova-light-webfont.eot");
    src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg");
    font-weight: 300;
    font-style: normal; } }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      body#tinymce.wp-editor {
        font-family: Proxima;
        src: url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg"); } } }

@font-face {
  body#tinymce.wp-editor {
    font-family: Proxima;
    src: url("../fonts/proximanova-semibold-webfont.eot");
    src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
    font-weight: bold;
    font-style: normal; } }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      body#tinymce.wp-editor {
        font-family: Proxima;
        src: url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg"); } } }

@font-face {
  body#tinymce.wp-editor {
    font-family: Proxima;
    src: url("../fonts/proximanova-semiboldit-webfont.eot");
    src: url("../fonts/proximanova-semiboldit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semiboldit-webfont.woff") format("woff"), url("../fonts/proximanova-semiboldit-webfont.ttf") format("truetype"), url("../fonts/proximanova-semiboldit-webfont.svg#Proxima") format("svg");
    font-weight: bold;
    font-style: italic; } }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      body#tinymce.wp-editor {
        font-family: Proxima;
        src: url("../fonts/proximanova-semiboldit-webfont.svg#Proxima") format("svg"); } } }

@font-face {
  body#tinymce.wp-editor {
    font-family: Proxima;
    src: url("../fonts/proximanova-xbold-webfont.eot");
    src: url("../fonts/proximanova-xbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-xbold-webfont.woff") format("woff"), url("../fonts/proximanova-xbold-webfont.ttf") format("truetype"), url("../fonts/proximanova-xbold-webfont.svg#Proxima") format("svg");
    font-weight: 900;
    font-style: normal; } }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      body#tinymce.wp-editor {
        font-family: Proxima;
        src: url("../fonts/proximanova-xbold-webfont.svg#Proxima") format("svg"); } } }
  body#tinymce.wp-editor body {
    color: rgba(0, 0, 0, 0.87);
    font: 18px/29px Proxima, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 0 1px transparent; }
  body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6 {
    font-weight: 600;
    clear: both;
    margin: 0;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  body#tinymce.wp-editor h1 {
    font-size: 3em;
    line-height: 1.1em; }
  body#tinymce.wp-editor h2 {
    font-size: 2.5em;
    line-height: 1.2em; }
  body#tinymce.wp-editor h3 {
    font-size: 1.6em;
    line-height: 1.2em; }
  body#tinymce.wp-editor h4 {
    font-size: 1.75em;
    line-height: 1.2em; }
  body#tinymce.wp-editor h5 {
    font-size: 1.5em;
    line-height: 1.3em; }
  body#tinymce.wp-editor h6 {
    font-size: 1.2em;
    line-height: 1.8em; }
  body#tinymce.wp-editor .page h2, body#tinymce.wp-editor .page h3, body#tinymce.wp-editor .page h4, body#tinymce.wp-editor .page h5, body#tinymce.wp-editor .page h6, body#tinymce.wp-editor .archive h2, body#tinymce.wp-editor .archive h3, body#tinymce.wp-editor .archive h4, body#tinymce.wp-editor .archive h5, body#tinymce.wp-editor .archive h6, body#tinymce.wp-editor .single h2, body#tinymce.wp-editor .single h3, body#tinymce.wp-editor .single h4, body#tinymce.wp-editor .single h5, body#tinymce.wp-editor .single h6, body#tinymce.wp-editor .search-results h2, body#tinymce.wp-editor .search-results h3, body#tinymce.wp-editor .search-results h4, body#tinymce.wp-editor .search-results h5, body#tinymce.wp-editor .search-results h6 {
    margin-top: 1em;
    margin-bottom: .5em; }
  body#tinymce.wp-editor .home h1, body#tinymce.wp-editor .home h2, body#tinymce.wp-editor .home h3, body#tinymce.wp-editor .home h4, body#tinymce.wp-editor .home h5, body#tinymce.wp-editor .home h6 {
    margin-top: 0; }
  body#tinymce.wp-editor .home h3 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px; }
  body#tinymce.wp-editor .home h4 {
    margin-bottom: 5px;
    font-size: 1em;
    line-height: 1.5em; }
  body#tinymce.wp-editor h1.search-title {
    margin-bottom: 40px; }
  body#tinymce.wp-editor h1.page-title {
    margin-bottom: 20px;
    font-weight: 700; }
  body#tinymce.wp-editor h1 span {
    display: block;
    font-size: .5em;
    line-height: 1em; }
  body#tinymce.wp-editor h2.filter-title {
    color: white(0.98);
    background-color: #347bad;
    padding: 10px 0;
    font-size: 2em; }
  body#tinymce.wp-editor h2.subtitle {
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 400;
    font-style: italic; }
  body#tinymce.wp-editor nav h3, body#tinymce.wp-editor .side h3 {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12); }
  body#tinymce.wp-editor .filter h3 {
    margin-bottom: 15px;
    font-size: 1.2em; }
  body#tinymce.wp-editor strong {
    font-weight: 600; }
  body#tinymce.wp-editor em {
    font-style: italic; }
  body#tinymce.wp-editor hr {
    color: rgba(0, 0, 0, 0.12);
    background-color: rgba(0, 0, 0, 0.12);
    height: 1px;
    border: none;
    margin: 30px 0; }
  body#tinymce.wp-editor p {
    margin: 1.5em 0; }
  body#tinymce.wp-editor h1 + p, body#tinymce.wp-editor h1 + ul, body#tinymce.wp-editor h1 + ol, body#tinymce.wp-editor h1 + dl, body#tinymce.wp-editor h2 + p, body#tinymce.wp-editor h2 + ul, body#tinymce.wp-editor h2 + ol, body#tinymce.wp-editor h2 + dl, body#tinymce.wp-editor h3 + p, body#tinymce.wp-editor h3 + ul, body#tinymce.wp-editor h3 + ol, body#tinymce.wp-editor h3 + dl, body#tinymce.wp-editor h4 + p, body#tinymce.wp-editor h4 + ul, body#tinymce.wp-editor h4 + ol, body#tinymce.wp-editor h4 + dl, body#tinymce.wp-editor h5 + p, body#tinymce.wp-editor h5 + ul, body#tinymce.wp-editor h5 + ol, body#tinymce.wp-editor h5 + dl, body#tinymce.wp-editor h6 + p, body#tinymce.wp-editor h6 + ul, body#tinymce.wp-editor h6 + ol, body#tinymce.wp-editor h6 + dl {
    margin-top: 5px; }
  body#tinymce.wp-editor ul, body#tinymce.wp-editor ol {
    padding: 0; }
  body#tinymce.wp-editor li {
    margin: 0 0 0 13px;
    padding-left: 0;
    list-style-type: disc; }
  body#tinymce.wp-editor ol li {
    list-style-type: decimal; }
  body#tinymce.wp-editor cite {
    font-style: italic; }
  body#tinymce.wp-editor blockquote {
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 1px 40px 1px 22px;
    margin: 30px 0;
    border-left: 10px solid #347bad; }
    body#tinymce.wp-editor blockquote p {
      margin: 1em 0; }
  body#tinymce.wp-editor figcaption {
    font-style: italic; }
  body#tinymce.wp-editor dt {
    font-weight: 600; }
  body#tinymce.wp-editor dd {
    margin: 0 0 25px 0;
    font-weight: normal; }
  body#tinymce.wp-editor a:link, body#tinymce.wp-editor .col a h4 {
    text-decoration: underline;
    color: #1B4889;
    font-weight: 600;
    transition: color 0.24s ease-in-out; }
  body#tinymce.wp-editor .col a h4 {
    font-weight: 600; }
  body#tinymce.wp-editor a:hover, body#tinymce.wp-editor a:focus, body#tinymce.wp-editor a:active,
  body#tinymce.wp-editor .col a h4:hover, body#tinymce.wp-editor .col a h4:focus, body#tinymce.wp-editor .col a h4:active {
    color: #0e2649; }
  body#tinymce.wp-editor .col a:visited, body#tinymce.wp-editor .main a:visited {
    color: #0e2649; }
  body#tinymce.wp-editor .col .current-menu-item > a {
    color: rgba(0, 0, 0, 0.87); }
  body#tinymce.wp-editor .main-nav a:link, body#tinymce.wp-editor .footer-nav a:link, body#tinymce.wp-editor a.btn, body#tinymce.wp-editor .people-list a {
    text-decoration: none; }
  body#tinymce.wp-editor article p a[href*="//"]:not([href*="ucla"]).btn, body#tinymce.wp-editor article h1 a[href*="//"]:not([href*="ucla"]).btn, body#tinymce.wp-editor article h2 a[href*="//"]:not([href*="ucla"]).btn, body#tinymce.wp-editor article h3 a[href*="//"]:not([href*="ucla"]).btn, body#tinymce.wp-editor article h4 a[href*="//"]:not([href*="ucla"]).btn, body#tinymce.wp-editor article h5 a[href*="//"]:not([href*="ucla"]).btn, body#tinymce.wp-editor article h6 a[href*="//"]:not([href*="ucla"]).btn {
    background-image: none; }
  body#tinymce.wp-editor .skip {
    float: left; }
  body#tinymce.wp-editor .skip:focus {
    position: static;
    width: auto;
    height: auto; }
  body#tinymce.wp-editor h1, body#tinymce.wp-editor .h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor .h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor .h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor .h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor .h5 {
    text-rendering: optimizelegibility;
    font-weight: 500; }
    body#tinymce.wp-editor h1 a, body#tinymce.wp-editor .h1 a, body#tinymce.wp-editor h2 a, body#tinymce.wp-editor .h2 a, body#tinymce.wp-editor h3 a, body#tinymce.wp-editor .h3 a, body#tinymce.wp-editor h4 a, body#tinymce.wp-editor .h4 a, body#tinymce.wp-editor h5 a, body#tinymce.wp-editor .h5 a {
      text-decoration: none; }
  body#tinymce.wp-editor li {
    list-style: disc; }
  body#tinymce.wp-editor p {
    margin: 2em 0; }
  body#tinymce.wp-editor table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 1.5em; }
  body#tinymce.wp-editor tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    body#tinymce.wp-editor tr:nth-child(odd) {
      background: rgba(0, 0, 0, 0.03); }
  body#tinymce.wp-editor td {
    padding: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.12); }
    body#tinymce.wp-editor td:last-child {
      border-right: 0; }
  body#tinymce.wp-editor th {
    background-color: tint(#347bad, 60%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12); }
    body#tinymce.wp-editor th:last-child {
      border-right: 0; }
  body#tinymce.wp-editor img {
    margin: 0 0 1.5em 0;
    max-width: 100%;
    height: auto; }
  body#tinymce.wp-editor .size-auto,
  body#tinymce.wp-editor .size-full,
  body#tinymce.wp-editor .size-large,
  body#tinymce.wp-editor .size-medium,
  body#tinymce.wp-editor .size-thumbnail {
    max-width: 100%;
    height: auto; }
  body#tinymce.wp-editor .content-subtitle {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.6em;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block; }
  body#tinymce.wp-editor dt {
    font-weight: normal !important; }
  @media only screen and (min-width: 481px) {
    body#tinymce.wp-editor {
      /* at this larger size, we can start to align images */ }
      body#tinymce.wp-editor .alignleft, body#tinymce.wp-editor img.alignleft {
        margin-right: 1.5em;
        display: inline;
        float: left; }
      body#tinymce.wp-editor .alignright, body#tinymce.wp-editor img.alignright {
        margin-left: 1.5em;
        display: inline;
        float: right; }
      body#tinymce.wp-editor .aligncenter, body#tinymce.wp-editor img.aligncenter {
        margin-right: auto;
        margin-left: auto;
        display: block;
        clear: both; } }
