/*	Events
/*--------------------------------------*/
// Using The Events Calendar plugin: https://wordpress.org/plugins/the-events-calendar
// Use the Full Styles display setting.

/* General */
#tribe-events .tribe-events-content {
	p {
		line-height: 25px;
		margin: 1.5em 0;
	}
}
.tribe-events-page-title {
	margin-bottom: 20px;
	font-size: 3em;
	font-weight: 600;
}
#tribe-events, #tribe-events-pg-template, .tribe-events-pg-template {
	padding: 0;
}

/* Typography */
#tribe-events-pg-template .tribe-events-content {
	h1 {
		font-size: 3em; // 15 * 3 = 45
		line-height: 1.1em;
	}
	h2 {
		font-size: 2.5em; // 15 * 2.5 = 37.5
		line-height: 1.2em;
	}
	h3 {
		font-size: 2em; // 15 * 2 = 30
		line-height: 1.2em;
	}
	h4 {
		font-size: 1.75em; // 15 * 1.75 = 26.25
		line-height: 1.2em;
	}
	h5 {
		font-size: 1.5em; // 15 * 1.5 = 22.5
		line-height: 1.3em;
	}
	h6 {
		font-size: 1.2em; // 15 * 1.2 = 18
		line-height: 1.8em;
	}
	ul li {
		margin-bottom: 8px;
	}
}

/* Landing page */
.post-type-archive-tribe_events .col {
	width: 100%;

	&.caption {
		max-width: 780px;
		margin: 20px auto;
		float: none;
		text-align: center;
	}
}
#tribe-events-content {
	width: 640px;
	margin: 0 auto;
	
	&.tribe-events-month {
		width: 940px;
		margin: 0 auto;
	}
	.tribe-events-loop {
		.tribe-events-list-event-description p {
			margin: 0 0 20px;
		}
		.tribe-events-event-meta {
			margin: 0 0 15px;
			font-weight: normal;
			font-size: 1em;
			
			.tribe-event-schedule-details, .time-details {
				font-weight: bold;
				line-height: 1.6em;
			}
			.tribe-events-venue-details {
				margin: 0;
				font-style: italic;
				line-height: 1.6em;
			}
		}
	}
}
.tribe-events-list {
	.type-tribe_events {
		padding: 31px 0 40px 0;
	}
	// Fixing header size on landing page
	.tribe-events-list-event-title {
		font-size: 2em;
		line-height: 1.2em;
		margin-bottom: .5em;
	}
	.vevent.hentry {
		border-bottom-color: $border-color;
		border-bottom-width: 2px;
	}
	.tribe-events-loop, 
	.tribe-events-loop .tribe-event-featured {
		.tribe-events-event-cost {
			margin: 0 0 15px;
			
			.ticket-cost {
				border: 1px solid $border-color;
				color: $text-color;
				padding: 8px 12px;
			}
			.tribe-tickets-left {
				background: $bg-dark-color;
				color: $text-color;
				border: 1px solid $border-color;
				border-left: none;
				padding: 8px 12px;
				margin-left: 0;
			}
			.tribe-button {
				color: $link-color!important;
				text-decoration: underline!important;
				background: none;
				letter-spacing: 0;
				transition: color 0.24s ease-in-out;
				
				&:hover {
					color: $link-hover-color!important;
				}
				&:active {
				  top: 0;
				}
			}
		}
	}
}
// Calendar view
.tribe-events-tooltip .entry-title {
	padding: 0 6px 6px;
}

// Top of event landing page
#tribe-bar-form {
	background-color: $bg-light-color;
	padding: 0 0 0 20px;

	label {
		font-size: 1em;
		margin-top: 5px;
	}
	input[type="text"] {
		font-weight: normal;
	}
	
	// For choosing between List, Month, or Day
	#tribe-bar-views {
		select, .tribe-bar-views-inner, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
			background-color: #eee!important;
		}
		.tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover, .tribe-bar-views-list .tribe-bar-views-option a:hover {
			background-color: #e0e0e0!important;
		}
		.tribe-bar-views-toggle {
			color: $text-color!important;
			letter-spacing: 0;
			border-radius: 0;
		}
	}
	
	// Find Events button
	.tribe-bar-submit {
		float: right!important;
		width: 170px;
		margin: 1px 20px 0 0;
	
		.tribe-events-button {
			margin-top: 10px!important;
			text-transform: none!important;
			font-size: 1em!important;
		}
	}
}
#tribe-bar-form .tribe-bar-submit input[type="submit"]
// Day picker
.datepicker-days thead {
	background-color: $primary-light;
}

/* Single events page */
.single-tribe_events {

	// Title
	h1.tribe-events-single-event-title {
		font-size: 3em;
		line-height: 1.1em;
	}
	.tribe-events-event-meta {
		background-color: $bg-light-color;
		border: 1px solid $border-color;
	}
	
}
#tribe-events-content {
	// Date and location
	.tribe-events-schedule {
		margin: 20px 0;
	}
	.tribe-events-venue-details {
		font-style: italic;
	}
	
	// Styling event details
	.tribe-events-event-meta .tribe-events-meta-group {
		width: 50%;
		
		&.tribe-events-meta-group-gmap {
			width: 100%;
		}
	}
	.secondary .tribe-events-venue-map {
		width: 44%;
		margin: 20px 20px 20px 0;
	}
}

// Centering event map
.single-tribe_events .tribe-events-venue-map {
	margin: 0 auto;
}
.single-tribe_events .tribe-events-meta-group + .tribe-events-meta-group + .tribe-events-meta-group-gmap .tribe-events-venue-map {
	width: 98%;
}
#tribe-events-content a {
	text-decoration: underline;
}

/* Widget styles */
.tribe-events-list-widget {
	.duration {
		color: $text-color;
		line-height: 1.5em;
		font-size: .85em;
	}
	.duration span {
		display: inline; 
		font-weight: bold;
		padding: 0;
		margin: 0;
	}
	.tribe-events-widget-link {
		padding-left: 0;
	}
	ol {
		li.tribe-events-list-widget-events {
			margin-bottom: 10px;
			padding: 0;
		}
		h4 {
			margin: 0;
			font-size: .9em;
			text-decoration: underline;
			line-height: 18px;
		}
		a {
			text-decoration: none;
		}
	}
}

/* Featured Events */
.tribe-events-list-widget .tribe-event-featured {
	background: none!important;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured {
	background: none!important;
	padding: 31px 0 40px 0;
	margin-bottom: 0;
	
	.tribe-events-event-meta, .tribe-events-content {
		color: $text-color;
	}
	.tribe-events-list-event-title {
		margin-top: 0;
	}
	a {
		color: $link-color!important;
	}
	a:hover, a:focus, a:active {
		color: $link-hover-color!important;
	}
	a:visited {
		color: $link-visited-color!important;
	}
	a.tribe-events-read-more {
		color: white!important;
	}
}

/* Event Tickets */
.tribe-tickets-rsvp h2 {
	font-size: 2em;
	margin-bottom: 10px!important;
}
.tribe-events-tickets {
	background-color: $bg-light-color;
	border: 1px solid $border-color;
	width: 640px;
	
	tr:nth-of-type(odd) {
		background: none;
	}
	tr:hover td {
		background: none;
	}
	header {
		width: 100%;
		padding: 0;
		
		&:after {
			display: inline-block;
			margin-left: 3px;
		}
	}
	.tribe-events-tickets-title.tribe--rsvp {
		margin-bottom: .5em;
	}
	.tickets_description, .tickets_name, .tickets_name p, .tickets_price {
		vertical-align: top;
		padding-top: 10px;
	}
	.tribe-ticket.quantity {
		padding-left: 25px;
		padding-bottom: 10px;
		
		input {
			width: 7em;
		}
	}
	.tickets_description {
		padding-right: 25px;
	}
	.tribe-button--rsvp {
		line-height: 25px;
	}
	.tribe-event-tickets-plus-meta input[type="email"], .tribe-event-tickets-plus-meta input[type="password"], .tribe-event-tickets-plus-meta input[type="text"], .tribe-event-tickets-plus-meta input[type="url"], .tribe-event-tickets-plus-meta textarea {
		width: 280px;
		margin-top: 0;
	}
	label span {
		color: $text-color;
	}
	.tribe-tickets-meta-label {
		font-weight: bold;
	}
	.tribe-tickets-meta-field-header {
		font-weight: bold;
	}
	.tribe-tickets-meta-radio, .tribe-tickets-meta-checkbox {
		.tribe-tickets-meta-field-header {
			font-weight: normal;
		}
	}
	.tribe-tickets-meta-row {
		border: none;
	}
	.tribe-event-tickets-plus-meta-attendee {
		border-bottom: 1px solid $border-color;
		padding: 10px 15px 15px;
		
		&:last-child {
			border-bottom: none;
		}
		& + .tribe-event-tickets-plus-meta-attendee {
			header {
				margin-top: 10px;
			}
		}
	}
	.tribe-event-tickets-plus-meta-attendee > header {
		color: $text-color;
		font-weight: bold;
		text-transform: none;
		letter-spacing: 0;
		font-size: 1.5em;
		margin-bottom: 10px;
	}
	tr:not(:first-child) {
		border-top: none;
	}
	.tribe-events-tickets .tribe-event-tickets-plus-meta input[type="text"] {
		width: 100%;
	}
	.tribe-ticket, .tickets_name, .tickets_description {
		border-top: 1px solid $border-color;
		padding-top: 15px;
	}
	.tribe-tickets-attendees {
		padding: 10px 25px;
	}
	.add-to-cart {
		padding: 10px 25px;
		
		.tribe-button--rsvp {
			margin: 10px 0;
		}
	}
	.tribe-tickets-table {
		td {
			padding: 10px 25px 0px 0px;
		}
	}
}
button.alt {
	line-height: 25px;
}
@media only screen and (min-width: 320px) and (max-width: 960px) {
	.tribe-events-tickets {
		width: 100%;
		
		.tribe-event-tickets-plus-meta input[type="text"] {
			width: 96%;
			padding: 0 2%;
			max-width: 640px;
		}
		select {
			width: 100%;
			max-width: 670px;
		}
		td.tickets_description {
			min-width: 92%;
		}
		.tribe-tickets-table {
			width: 100%;
		}
	}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.tribe-events-tickets {
		.tickets_name {
			border-bottom: none!important;
		}
		td.tickets_description {
			border-bottom: none!important;
			padding: 0 4%!important;
		}
		.tickets_description, .tickets_name, .tickets_name p, .tickets_price {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		td {
			min-width: 92%;
			max-width: 92%;
			width: 92%;
			padding: 10px 4%!important;
		}
		.tribe-event-tickets-plus-meta {
			border-bottom: 1px solid $border-color;
		}
		.tribe-event-tickets-plus-meta-fields {
			width: 100%;
		}
		.tribe-event-tickets-plus-meta-attendee {
			padding: 0;
		}
		.tribe-tickets-attendees {
			header {
				display: none;
			}
		}
		.tribe-ticket, .tickets_name, .tickets_description {
			border-top: none;
		}
		.tribe-tickets-table {
			
			td {
				padding: 10px 0 0px 0px!important;
				min-width: 100%;
				max-width: 100%;
				width: 100%;
			}
			input[type="text"], input[type="email"] {
				max-width: 640px;
			}
		}
		.tribe-ticket.quantity {
			border-bottom: none;
		}
	}
}